/* 全局样式 */
* {
  padding: 0;
  margin: 0;
}

.el-aside {
  width: 200px !important;
}

.el-aside ul {
  overflow: hidden;
  height: calc(100vh - 75px);
}

.el-menu {
  background-image: linear-gradient(to bottom, rgb(60, 90, 138), pink);
  height: 100%;
  width: 190px;
}

.el-menu li,
.el-menu .el-submenu__title {
  /* color: #fff; */
  overflow: hidden;
}

/* 面包屑行高 */
#module .el-breadcrumb {
  line-height: 55px;
}

#module .el-menu li,
#module .el-menu .el-submenu__title {
  color: #03e9f4;
}

.el-submenu__title:hover,
.el-aside li:hover {
  color: black !important;
  font-weight: 800;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
}