<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .foot_url {
        text-decoration: none;
      }
      .foot_font_num {
        color: black;
        font-size: 15px;
      }
      .gon_an_bei_an {
        height: 13px;
        margin-left: 2px;
      }
    </style>
  </head>

  <body>
    <div>
      <p><a href="https://beian.miit.gov.cn/" class="foot_url foot_font_num">索闽ICP备 2023003457号-1</a></p>
      <p>
        <img src="http://thirdqq.qlogo.cn/g?b=oidb&k=ZV7fZc6QpNBTsyD75ovdcg&kti=ZXA8FgAAAAA&s=40&t=1698208064" class="gon_an_bei_an" />
        <a href="https://beian.mps.gov.cn/#/query/webSearch?code=35021102002026\" rel="noreferrer" class="foot_url foot_font_num" target="_blank">闽公网安备 35021102002026</a>
      </p>
    </div>
  </body>
</html>
