<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .foot_url {
        text-decoration: none;
      }
      .foot_font_num {
        color: black;
        font-size: 15px;
      }
      .gon_an_bei_an {
        height: 13px;
        margin-left: 2px;
      }
    </style>
  </head>

  <body>
    <div>
      <p>SS1</p>
    </div>
  </body>
  <script>
    //节流 一段时间内只执行一次
    // 第一次执行cd为true,执行定时器，快速第二次进由于定时器还没有结束，cd为true，所以不执行，等待定时器结束，cd为false，执行新一轮
    function throttle(fn, delay) {
      let cd = false
      return function () {
        if (cd) {
          console.log('节流中')
          return false
        }
        cd = true
        setTimeout(() => {
          fn()
          cd = false
        }, delay)
      }
    }
  </script>
</html>
